@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .highlight {
    @apply text-gray-200;
  }
}


  #nav-Checkbox:checked ~ div > div.nav-Menu li,
  #nav-Checkbox:checked ~ div > div.nav-Menu a,
  #nav-Checkbox:checked ~ label#nav-Toggle #svg-close {
    @apply block;
  }
  #nav-Checkbox:checked ~ label#nav-Toggle #svg-menu {
    @apply hidden;
  }
  #nav-Checkbox:checked ~ div > div.nav-Menu {
    @apply pb-4;
    @apply block;
  }

  @media screen(sm) {
    #nav-Checkbox:checked ~ div > div.hide-nav{
      @apply hidden;
    }
  }

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
